<h1> Member details </h1>


<strong> Name: <%= @user.name%><br>
Address: <%= @user.address%> </strong> <br><br>

<% if !@user.books.empty? %>
    Books checked out: </strong>
    <ul>
        <% @user.books.each do |book| %>
            <li> Title: <%= book.title %> -
            <span> Author: <%= book.author %> </span></li>
        <% end %>
    </ul>
<% end %>

<br><br><br>
<%= button_to 'Edit user', edit_user_path, method: :get %>
<br>
<%= button_to 'Back', users_path, method: :get %>
<br>
<%= button_to 'Delete user', user_path(@user), method: :delete %>
<br>
<%= button_to 'Add ckeckout', new_checkout_path, method: :get %>

